@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Портретный*/
body {
    font-size: 15px;
    font-family: Arial;
    min-width: 300px;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.warning {
    display: none;
}

.main {
    max-width: 570px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.some-content:after {
    content: "";
    display: block;
    height: 100px;
}

/*TOP*/
.top-contacts {
    font-size: 13px;
    background-color: #F2E4C4;
    padding: 6px 15px;
    line-height: 20px;
    box-shadow: inset 0 -19px 6px -21px #000;
}

.top-contacts a {
    color: #B2003D;
    font-weight: 600;
}

.top-contacts img {
    display: inline-block;
    vertical-align: -1px;
}

.top-menu {
    position: relative;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.29);
    /*add dunkon*/
    margin-bottom: 8px;
}

.menu-element {
    vertical-align: middle;
    display: inline-block;
    text-align: center;

}

.menu-element i {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.60);
}

.top-menu .logo {
    width: 60%;
    max-width: 200px;
    margin: 0 auto 0 auto;
}

.top-menu .icons {
    position: absolute;
    right: 0;
    height: 30px;
    margin: auto 0;
    top: 0;
    bottom: 0;
}

.top-menu .icons .dropdown {
    display: inline-block;
    color: rgba(0, 0, 0, 0.60);
}

.top-menu .icons .dropdown.open .dropdown-menu {
    right: 0;
    left: inherit;
    min-width: 230px;
    padding: 5px 10px 0 10px;
}


.top-menu .icons .dropdown.open .dropdown-menu .btn-success {
    float: right;
    margin-top: 10px;
    right: 20px;
    position: relative;

}
.hamburger {
    height: auto;
    margin: 0 4% 0 0;
    border-bottom: 4px solid;
    border-top: 4px solid;
    width: 24px;
    padding: 4px 0;
    content: "";
    background-color: transparent;
    border-left:none;
    border-right:none;
}

.hamburger:after {
    border-top: 4px solid;
    content: "";
    width: 24px;
    display: block;
}

.top-header-text {
    color: #bf0023;
}

.search-btn {
    background-color: transparent;
    border: none;
}

.fa.fa-search {
    font-size: 27px;
}

/*MAIN Accordion*/
.main .panel-heading:after, .main .panel-heading.collapsed:after {
    box-sizing: border-box;
    color: rgb(211, 211, 211);
    display: block;
    float: right;
    font-family: FontAwesome;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    width: 15.4375px;

}
.main .panel-heading:after{
    content: "\f056";
}
.main .panel-heading.collapsed:after{
    content: "\f055";
}
.main .panel-heading {
    padding: 10px 12px;
    font-size: 0.8em;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 1);
    color: #C00101;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.19);
}

.main .panel-heading.collapsed {
    border-top: none;
    background-color: rgba(0, 0, 0, 0.88);
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

.main .panel-body {
    color: rgba(255, 255, 255, 0.8);
    background-color: #000;
    padding: 5px 10px;
    font-size: 0.8em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
}
/* END MAIN Accordion*/

/*NAV Accordion*/
#navbar .panel-heading:after, #navbar .panel-heading.collapsed:after {
    box-sizing: border-box;
    color: #000;
    display: block;
    float: right;
    font-family: FontAwesome;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    height: 18px;
    line-height: 18px;
    width: 15.4375px;

}
#navbar .panel-heading:after{
    content: "\f068";
}
#navbar .panel-heading.collapsed:after{
    content: "\f067";
}
#navbar .panel-heading {
    padding: 10px 15px;
    font-size: 0.8em;
    font-weight: 600;
    background-color: #b0b1b1;
    color: #000;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.19);
}

#navbar .panel-heading.collapsed {
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

#navbar .panel-body {
    color: #000000;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 0.8em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
}
/*END NAV Accordion*/
.top-big-slider {
    min-height: 294px;
    background: url('../images/top-slider-bg.png') repeat-x;
}

.mid-sliders-area .slider, .top-big-slider.slider {
    margin-top: 15px;
}

.slider-header {
    text-align:center;
    padding: 5px 0;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 10px 10px 0 0;
    background-image: -webkit-linear-gradient(-90deg, #e9e9e9 0, #fff 100%);
    background-image: -moz-linear-gradient(180deg, #e9e9e9 0, #fff 100%);
    background-image: linear-gradient(180deg, #e9e9e9 0, #fff 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
}

.promotions-slider .slider-header {
    border-color: #b00024;
    color: white;
    background-image: -webkit-linear-gradient(-90deg, #bf0024 0, #8f0025 100%);
    background-image: -moz-linear-gradient(180deg, #bf0024 0, #8f0025 100%);
    background-image: linear-gradient(180deg, #bf0024 0, #8f0025 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
}

/* FOOTER START*/
.footer-item {
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    padding: 7px 14px 7px 14px;
    min-height: 70px;
}

.footer-item-img {
    float: left;
}

.footer-item-img.first {
    margin: 7px;
}

.footer-item-description {
    margin-left: 66px;
    font-size: 11px;
}

.footer-item-description-header {
    font-size: 14px;
}

.link-block {
    margin-top: 15px;
}

.link-block>a {
    color: #000;
}

.copi > a {
    color: #000;
}

.copi.red {
    color: red;
}

.footer-banners {
    margin-top: 15px;
}

.footer-banners .secure-banner {
    float: right;
}

.footer-banners img {
    margin-bottom: 20px;
}

.bottom-fix {
    height: 22px;
    min-width: 300px;
    background-image: -webkit-linear-gradient(-90deg, #e7dfb7 0, #fff0cb 9%, #fff7d1 100%);
    background-image: -moz-linear-gradient(180deg, #e7dfb7 0, #fff0cb 9%, #fff7d1 100%);
    background-image: linear-gradient(180deg, #e7dfb7 0, #fff0cb 9%, #fff7d1 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
}

/* FOOTER END */

/*Navbar style START*/
#navbar {
    background-color: #d8d9d9;

}

.nav-header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-header > span {
    text-decoration: underline;
}

.nav-links ul {
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul a {
    display: block;
    border-bottom: 1px solid #b0b1b1;
    padding: 10px 0;
    color: #000;
}
.nav-links li:last-child > a {
    border-bottom: none;
}
.dropdown {
    overflow:hidden;
}
.dropdown.open{
    overflow:visible;
}
.dropdown ul {
    display:block;
    transition: opacity 0.3s ease-out;
    opacity: 0; 
}
.dropdown.open ul{
    opacity: 1;
    display: block;
    
}
.nav-links a:hover, a:focus {
    text-decoration:none;
}

.nav-links ul li.dropdown > a:after {
    float: right;
    font-family: FontAwesome;
    content: '\f054';
    transition-property: transform;
    transition-duration: 0.3s;
}

.nav-links ul li.dropdown.open > a:after {
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}


#navbar .dropdown-menu >li a{
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position:relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

/*Navbar style END*/

/*SLIDER ITEM*/
.slider-body {
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.product-item {
    padding: 15px;
}
.item-header {
    color: #505050;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.item-img {
    float: left;
}
.item-price {
    
}

/*END SLIDER ITEM*/

@media only screen and (min-width: 800px) {
    .warning {
        /*
            Полной версии сайта не будет с мобильника.
            Авто редирект средствами Magento
        */
        position: relative;
        text-align: center;
        padding-top: 15px;
        display: block;
        height: 50px;
        color: #fff;
        background-color: #219999;
    }

    .warning i {
        position: absolute;
        font-size: 30px;
        top: 0;
        right: 2%;
    }
}
@media only screen and (min-width: 570px) {
    .main{
        margin-left:256px;
    }
    .slideout-menu {
        display:block;
    }
    .hamburger{
        display: none;
    }
}